{% load static %}

<html>
    <head>
        <title>SAVVY MANNY - Training</title>
        <link rel="stylesheet" href="{% static 'css/trstyle.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body>
        <div class="topsect">
            <img src="{% static 'trfirst.jpg' %}" alt="Training" id='trfirst' align=left>
            <div class="trtext">
                <div class="trtitle">
                    <h1><b>Lorem ipsum idot</b></h1>
                </div>
                <div class="trinfo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  Pretium vulputate sapien nec sagittis. Condimentum lacinia quis vel eros</p>
                </div>
                <div class="trbutton">
                        <a href="/" id="trbutn">SEE MORE</a>
                </div>
            </div>
        </div>

        <div class="content" >
            <div class="row">
                <div class="col">
                    <div class="crcontent">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'mediapicture.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">VIEW COURSE</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <div class="crcontent">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'mediapicture.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">VIEW COURSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <div class="crcontent">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'mediapicture.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">VIEW COURSE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>

