{% extends "blog/base.html" %}
{% load static %}

{% block content %}

{% for post in posts %}

<div style="margin-left: 15%;">
    <div class="card mb-3" style="max-width: 540px; width: 70vw;">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{% static 'mediapicture.jpg' %}" class="card-img" alt="...">
        </div>
        <div  class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body|truncatewords:20 }}</p>
            <p class="card-text"><small class="text-muted">{{ post.updated }}</small></p>
            </div>
        </div>
        </div>
    </div>    
</div>


{% endfor %}

{% endblock %}